{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Products
{% endblock title %}

{% block auth %}
    {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="/accounts/logout/">logout</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link" href="/accounts/login/">login</a></li>

    {% endif %}
{% endblock auth %}

{% block content %}
   <h1>Все товары</h1>
   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Отсеять" />
   </form>

   <hr>
    {{ time_now }}
    <hr>
   {% if products %}
       <table>
           <tr>
               <td>Название</td>
               <td>Описание</td>
               <td>Категория</td>
               <td>Цена</td>
               <td>Количество</td>
           </tr>

           {% for product in products %}
           <tr>
               <td><a href="{{ product.id }}">{{ product.name }}</a></td>
               <td>{{ product.description|truncatechars:15 }}</td>
               <td>{{ product.category.name }}</td>
               <td>{{ product.price |currency:'rub' }}</td>
               <td>{{ product.quantity }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Товаров нет!</h2>
   {% endif %}
<hr>
                    {% if user.is_authenticated %}
                    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
                    {% else %}
                    <p>Welcome, new user. Please log in.</p>
                    {% endif %}
{% if perms.simpleapp.add_product %}
    <a href="{% url 'product_create' %}">Добавить товар</a>
{% endif %}
<hr>
   {% if page_obj.has_previous %}

       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

 {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}

{% block data %} {{ time_now }} {% endblock data %}