{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
{{ product.name}}
{% endblock title %}

{% block content %}
<h1>{{ product.name }}</h1>
<p>{{ product.description }} </p>
<p>Стоимость: {{ product.price |currency:'rub' }} </p>
{% if perms.simpleapp.change_product %}
    <a href="{{ product.id }}/update"><input type="submit" value="Редактировать" /></a>
{% endif %}
{% if perms.simpleapp.delete_product%}
    <a href="{{ product.id }}/delete"><input type="submit" value="Удалить" /></a>
{% endif %}
{% endblock content %}

