body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 200px minmax(300px, 600px) 200px 1fr;
    grid-template-rows: auto auto 1fr auto [page-end] 40px [bottom-page];
    grid-template-areas: '. . . . .' '. logo header header .' '. main main list .' '. . . . .' '. footer footer footer .';
    margin: 0px;
    padding: 0;
    background-repeat: repeat;
    background: linear-gradient(90deg, #E6DADA, #274046);
    gap: 15px;
}

header {
    grid-area: header;
    color: #f7f2a2;
}

.img {
    grid-area: logo;
}

main {
    grid-area: main;
    padding-left: 16px;
    background-color: #ededd8;
    outline: 2px;
    border-radius: 4px;
}

.slidebar {
    grid-area: list;
}

ul {
    padding-right: 0px;
    padding-left: 25px;
    background: linear-gradient(11deg, #D38312 0%, #A83279 100%);
    border-radius: 4px;
    outline: 2px solid #cccccc;
    outline-offset: 0;
    color: #46e5ba;
    font-style: italic;
    text-align: left;
    font-family: 'Antic', sans-serif;
    line-height: 30px;
    background-repeat: no-repeat;
    margin-top: 2px;
    }

footer {
    grid-area: footer;
    padding-left: 16px;
    background-color: #45e543;
    background-image: linear-gradient(90deg, #FFE000, #799F0C);
}

.nav-link {
    color: #9ee8fb;
    text-decoration: none;
}

.footer-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    font-style: italic;
}