{% extends 'flatpages/default.html' %}
{% load i18n %}
{% block amount1 %}
    {% trans "Edit" %}
{% endblock amount1 %}

{% block top-navigator %}
{% endblock %}


{% block amount2 %}
    <h1 class="fst-italic h1 me-auto">{% trans "Edit" %}</h1>
{% endblock amount2 %}

{% block preview %}
{% endblock %}

{% block content %}

    <hr>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-outline-primary rounded-pill" type="submit" value={% trans "Save" %} />
    </form>
{% endblock content %}