<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %}
{% load filters %}
<!--проверяем на наличие постов, в дальнейшем будем проверять свежие посты за день-->
{% if posts %}
<!--определяем количество постов-->
{% block amount1 %}
    {{ posts |length }} новости
{% endblock amount1 %}

{% block amount2 %}
    {{ posts |length }} новости
{% endblock amount2 %}

<!--выводим список постов-->
    {% block content %}
        {% for post in posts %}
        <h2 class="blog-post-title mb-1">{{post.title |censor }}</h2>
        <p class="blog-post-meta">{{post.post_date  |date:'d M Y'}}</p>
        <p> {{post.preview |censor }} </p>
        {% endfor %}
    {% endblock content %}
{% else %}
    <h2>Нет статей</h2>
{% endif %}

