<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %}
{% load filters %}
<!--проверяем на наличие постов, в дальнейшем будем проверять свежие посты за день-->
{% if posts %}
{# --определяем количество постов-- #}
    {% block amount1 %}
        {{ page_obj.paginator.count }} новости
    {% endblock amount1 %}

    {% block amount2 %}
        {{ page_obj.paginator.count }} новости
    {% endblock amount2 %}


<!--выводим список постов-->
    {% block content %}
        {% block search %}{% endblock search %}
        {% for post in posts %}
        <a href="{{post.id}}"><h2 class="blog-post-title mb-1">{{post.title |censor }}</h2></a>
        <p class="blog-post-meta">{{post.post_date  |date:'d M Y'}}</p>
        <p> {{post.preview |censor }} </p>
        {% endfor %}
    {% endblock content %}
{% else %}
    <h2>Нет статей</h2>
{% endif %}


