<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %}
{% load filters %}
{% load custom_tags %}
<!--проверяем на наличие постов, в дальнейшем будем проверять свежие посты за день-->
{% if posts %}
{# --определяем количество постов-- #}
    {% block amount1 %}
        {{ page_obj.paginator.count }} Posts
    {% endblock amount1 %}

    {% block amount2 %}
        <h1 class="fst-italic h1 me-auto">Welcome to my learning project</h1>
                    <p class="lead my-3">This is Hot News))</p>
                    <p class="lead mb-0"><a href="#" class="text-white fw-bold">more detailed...</a></p>
    {% endblock amount2 %}

<!--выводим список постов-->
    {% block content %}
        {% block search %}{% endblock search %}
        {% for post in posts %}
        <a href="{{post.id}}" class="blog-post-title mb-1"><i>{{post.title |censor }}</i></a>
        <p class="blog-post-meta">{{post.post_date  |date:'d M Y'}}</p>
        <p> {{post.preview |censor }} </p>
        {% endfor %}

        {% endblock content %}
{% else %}
    <h2>Not a News</h2>
{% endif %}
