<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Product -->
{% block amount1 %}
    {{ post.get_type_display }}
{% endblock amount1 %}

{% block amount2 %}
    {{ post.get_type_display }}
{% endblock amount2 %}


<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
 <h2 class="blog-post-title mb-1">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.post_date |date:'d M Y' }} Автор: <a href="#">{{post.author}}</a></p>
        <p> {{post.post_text}} </p>
{% endblock content %}