<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %}
<!--загружаем фильтры-->
{% load filters %}
{% load custom_tags %}
<!--получаем тип поста (новость/статья)-->
{% block amount1 %}
    {{ post.title }}
{% endblock amount1 %}

{% block amount2 %}
    <h1 class="fst-italic h1 me-auto">{{ post.get_type_display }}</h1>
{% endblock amount2 %}

{% block preview %}
{% endblock %}

<!-- В контенте на странице мы выводим содержимое Post, идентификатор которого был передан в url -->
{% block content %}
 <h2 class="blog-post-title mb-1">{{ post.title |censor }}</h2>
        <p class="blog-post-meta">{{ post.post_date }} Author: <a href="#">{{post.author}}</a></p>
        <p> {{post.post_text |censor }} </p>


{% if perms.newsapp.change_post or perms.newsapp.delete_post %}
        {# добавляем проверку что пользователь является автором этого поста #}
        {# когда появятся модераторы и редакторы прийдется сделать проверку и для них #}
        {% if user.username == post.author.user.username %}
            <a class="btn btn-outline-primary rounded-pill" href="{{ post.id }}/edit">Edit</a>
            <a class="btn btn-outline-primary rounded-pill" href="{{ post.id }}/delete">Delete</a>
        {% endif %}
{% endif %}

{% if comments %}
        <hr>
        <h5><i>{{number_comments}} comments:</i></h5>

        {% for comment in comments %}

                <p align = right ><i> {% publish_time comment.time %} <b> {{ comment.user }} </b></i></p>
                <p align = left > {{ comment.text }} </p>

        {% endfor %}
{% endif %}
{% endblock content %}