{# наследуемся от шаблона news #}
{% extends 'news.html' %}
{% load i18n %}

{% block top %}
<h1 class="fst-italic h1 me-auto">{% trans "Filter" %}</h1>
{% endblock top %}

{% block preview %}
{% endblock %}

{% block search %}
   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value={% trans "Filter" %} />

   </form>
<hr>
{% endblock search %}
