{% extends 'flatpages/default.html' %}
 
{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block amount1 %}
     Contacts
{% endblock amount1 %}

{% block amount2 %}
<h1 class="fst-italic h1 me-auto">Contacts</h1>
{% endblock amount2 %}
 
{% block content %}
<div class="p-4 mb-3 bg-light rounded">
    <h3>{{ flatpage.content }}</h3>
    <li><a href="#">Phone</a>
    </li>
    <li><a href="#">email</a>
    </li>
<hr>
    <h4 class="fst-italic">Elseware</h4>
    <ol class="list-unstyled">
        <li><a href="#">GitHub</a>
        </li>
        <li><a href="#">VK</a>
        </li>
        <li><a href="#">Telegram</a>
        </li>
    </ol>
</div>
{% endblock content %}