{% extends 'flatpages/default.html' %}
 {% load i18n %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block amount1 %}
     {% trans Contacts %}
{% endblock amount1 %}

{% block top-navigator %}
{% endblock %}

{% block amount2 %}
<h1 class="fst-italic h1 me-auto">{% trans "Contacts" %}</h1>
{% endblock amount2 %}

{% block preview %}
{% endblock %}

{% block content %}
<div class="p-4 mb-3 bg-light rounded">
    <h3>{{ flatpage.content }}</h3>
    <ul>
        <li><a href="#">{% trans "Phone" %}</a>
        </li>
        <li><a href="#">{% trans "email" noop %}</a>
        </li>
    </ul>
<hr>
    <h4 class="fst-italic">{% trans "Elsewhere" %}</h4>
    <ol class="list-unstyled">
        <li><a href="#">{% trans "GitHub" noop %}</a>
        </li>
        <li><a href="#">{% trans "VK" %}</a>
        </li>
        <li><a href="#">{% trans "Telegram" noop %}</a>
        </li>
    </ol>
</div>
{% endblock content %}