doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title Чат
  body
      header.header
        .header-panel
          .header-panel__logo
            img.header-panel__logo-img(src=require("./img/photo.jpg") alt="Photo")
          nav.header-panel__topmenu
            ul
              li.topmenu__home
                a(href='/') Домой
              li#topmenu__user.topmenu__user
                a(href="/accounts/{{ user.id }}") {{ user }}
              li.topmenu__sign
                a(href='/accounts/logout') Выход
      main.main
        .mainWrapper
          nav.column.column_left
            h3 Комнаты
            ul.rooms
            a.column__create-room-link(href='/create') Создать комнату
          nav.column.column_middle
            h3 Сообщения
            ul.messages
            form#message-form(action='').message-form
              label.message-form__label-message(for='message')
                input#message.itc-select__toggle.message-form__input(type='text' name='text')
              label.message-form__label-send(for='send-message')
                button#send-message.message-form__send-button Отправить
          nav.column.column_right
            h3 Участники
            ul.users
              li
            .selector
              container.selector__container
                #select-1.itc-select
                  // Кнопка для открытия выпадающего списка
                  button#add-user.itc-select__toggle(type='button' name='member' value='' data-select='toggle' data-index='-1')
                    | Добавить
                  // Выпадающий список
                  .itc-select__dropdown
                    ul.itc-select__options
      footer.footer
