$hat_background_color: darkkhaki;
$main_background_color: bisque;
$wrapper_background_color: burlywood;
$rooms_illumination_on: #a6ecc9;
$rooms_illumination_off: bisque;
$room_border_color: #ccc;
$message_background_color: white;
$message_border_color: #ccc;
$message_input_border_color: #ccc;
$message_button_border_color: #ccc;
