.message-form__input {
  align-items: center;
  width: 100%;
  padding: 0.275rem 0.55rem;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.1;
  background-color: #fff;
  border: 1px solid $message_button_border_color;
  border-radius: 0.3125rem;
}
