{% extends "board/index.html" %}
{% load i18n %}

{% block search %}
<h4> Отклики на объявления {{ user }} </h4>
   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filter.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value={% trans "Filter" %} />
   </form>
<hr>
{% endblock search %}

{% block body %}
    {% if replies %}
    <!--выводим список объявлений-->
        {% for reply in replies %}
        <p>{{ reply.author }}</p>
        <a href="{{reply.id}}"> <i>{{ reply.text }}</i></a>
        <hr>
        <form action="{% url 'confirm_reply' %}" method="post">
            {% csrf_token %}
            {% if not reply.status %}
            <input type="hidden" name="reply_id" value="{{ reply.id }}" />
            <button class="btn btn-outline-primary rounded-pill"
                    onclick="href={% url 'replies' %}"
                    name="action" value="confirm">{% trans "принять" %}</button>
            {% endif %}
            <a class="btn btn-outline-primary rounded-pill" href="{{ reply.id }}/delete">{% trans "удалить" %}</a>
        </form>
        <hr>
        <div class="b-example-divider"></div>
        {% endfor %}
    {% else %}
        <h2>{% trans "Нет откликов" %}</h2>
    {% endif %}
{% endblock %}

{% block footer-end %}
<div class="container">
    <div class="text-center mt-5">
        <h3>Доска объявлений</h3>
    </div>
</div>
{% endblock %}